.chatInput {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.chatInput__container {
  border: 1px solid #8d8d8e;
  border-radius: 4px;
}

.chatInput form {
  display: flex;
  align-items: center;
  height: 42px;
  padding-left: 10px;
}

.chatInput form > input {
  flex: 1;
  border: none;
  font-size: 13px;
}

.chatInput form > input:focus {
  outline: none;
}

.chatInput form > button {
  background-color: #007a5a;
  border-radius: 2px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-left: 10px;
  cursor: pointer;
  color: white;
  min-width: 0;
}

.chatInput form > button:hover {
  background-color: #148567;
}

.chatInput form > button > .MuiSvgIcon-root {
  width: 18px;
  color: #d9d9d9 !important;
}

.chatInput .chatInput__emoji > .MuiSvgIcon-root {
  color: gray;
  cursor: pointer;
}

.chatInput .emoji-picker-react {
  top: -180px;
  right: -30px;
}
